#Entorno virtual
venv/
ambiente/

#Archivos de bases de datos
*.sqlite3

#Archivos compilados de Python
*.pyc
__pycache__/

#Archivos de migraciones auromaticas
migratios/

#Archivos de configuracion
.env
