<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calendario de Eventos</title>
</head>
<body>
    <h1>Calendario de Eventos</h1>
    <button onclick="window.location.href='{% url 'editar_evento_nuevo' %}'">Agregar Evento</button>

    <div>
        <h2>Eventos</h2>
        <ul>
            {% for evento in eventos %}
                <li>
                    <strong>{{ evento.titulo }}</strong> ({{ evento.fecha_inicio }} - {{ evento.fecha_fin }})
                    <a href="{% url 'editar_evento' evento.id %}">Editar</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>