{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <style>
    </style>
</head>
<body>
    <script src="{% static '/JavaDelMapa.js' %}" defer></script>
    <div id="map" style="height: 600px;"></div>

    <p>LANGUAGE_CODE: {{ LANGUAGE_CODE }}</p>

    {% load i18n %}
    <h1>{% trans "Sugerencias" %}<h1>  
    <p>
        {% trans "Cuenta con la más completa colección nacional de revistas. Fue creada en el año 1974 con motivo del aniversario 161 de la Biblioteca Nacional. El Director de esos años, Roque Esteban Scarpa, decide concentrar este tipo de publicaciones en una sección especial." %}<br>
        {% trans "Alberga, en sus depósitos, revistas chilenas y extranjeras, almanaques y publicaciones oficiales chilenas, entre otros. La mayoría del acervo actual de la sección es lo que se recibe por concepto de depósito legal." %}<br>
        {% trans "Dentro de su colección podemos encontrar dos de las revistas más antiguas impresas en Chile, la Revista Católica y los Anales de la Universidad de Chile, ambas de 1843. Las temáticas que cubren son diversas, como también los editores." %}<br>
        {% trans "En cuanto a revistas extranjeras, la más antigua data de 1665, “Journal des sçavans”. La gran mayoría de revistas extranjeras han llegado por concepto de canje y/o  donación, principalmente abarcan las temáticas de las ciencias sociales, artes, religión, filosofía,  literatura e historia. Actualmente, llegan por donación y en su mayoría son en español." %}<br>
        {% trans "Se cuenta también con publicaciones oficiales chilenas de organismos estatales como por ejemplo el Instituto Nacional de Estadísticas, junto con publicaciones oficiales de organismos privados como las Naciones Unidas o Universidades." %}<br>
        {% trans "Pertenece a un conjunto de cuatro salones ubicados en el segundo piso, frontis Alameda. De ellos el más conocido por su acceso al público es la Sala José Toribio Medina. Diseñada por el propio Medina, presenta una estructura de tres pisos de estanterías elaboradas con finas maderas, al igual que el mobiliario. Los objetos fueron donados por Medina igualmente y constituyen una pequeña muestra museográfica de su vida y obra. También pertenecieron a Medina el escritorio, el globo terráqueo y el volante de la guillotina de la 'Imprenta Elzeviriana' donde Medina imprimió la mayor parte de sus libros." %}
    </p> 
    
    <form action="{% url 'change_language' %}" method="get">
        <select name="lang" onchange="this.form.submit()">
            <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
            <option value="es" {% if LANGUAGE_CODE == 'es' %}selected{% endif %}>Spanish</option>
        </select>
    </form>
</body>
</html>